body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 3;
    color: #ffffff;
    background: linear-gradient(to bottom, #00364a, #232020);
    text-align: center; /* Center text globally */
}

.header-container {
    background: #022837;
    color: #fff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #0c2227 3px solid;
}

.header-container h1, .navigation {
    text-align: center;
    margin: auto; /* Ensure center alignment */
}

.main-container {
    padding: 15px;
}

@media (max-width: 1024px) {
    /* Adjustments for tablets and below */
}

@media (min-width: 1025px) {
    /* Adjustments for large desktops */
}



.profile-pic {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 20px auto; /*centers*/
}

.profile-pic{
    transition: transform 0.5s ease-in-out;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.social-link {
    display: block;
    width: max-content;
    padding: 10px;
    margin: 20px auto;
    border: none;
    background-color: #333; /* a generic social link style */
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.social-link:hover {
    transform: scale(1.1);
    background-color: #61177c; /* lighter shade for hover effect */
}

@media (max-width: 768px) {
    .container {
        width: 85%;
        margin: auto;
    }
}
